.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.blue-font {
  color: rgb(24,162,184);
}

.summary-line {
  color: rgb(24,162,184);
}

/* .add-topic {
  background-image: url('https://lh3.googleusercontent.com/1eGr9HPvi_UIA0B33QFqQj9PcE2hmkP27XSIF5V66ufosdfscaE_BqiKPJVPh0pSCWhau-2uIWsafUzN82qsjWtNIK-VXUk-upqJ1B6aNxqesO3Cnr9nlY7Hla9OoWMg828AwYtw7eELH7gdJrun-H6DJmUysQ9b6GYRYExJGAcKfR6_VckY0Es2DDeP9_trIRnbF6KmkHrSSh0EqmDptCY6dbRH8aOufZiFfbRhnl3uKmqGURj0fzV8YnxUgDsRn9ebEWdjrOzb0qC6Lj8G1n35yPLWayjZZSJbtpgigNacvUCGYM6gxd1at8QfZfcBVqxE8GcF99rcMJCTRNraqT_15UZ2CK18U5PKYIOSjy0kCw37b18OY-Ggg3tjs6dpkS6SlS38_stVVfhtHahqmbMAcfNQQo3fKW3_9jCY25SQBSzj_d4JHbF6BL96SNa420dAh1PhmuNNpVUeCpAPLcIo_MhgNcvL1rAbt8jTzg_4LqpN0pV2-5oQni7ZOPmjLtD-5hkRm0JKejGufq-Ok8vhwVmTl1LvN7JJBh2w4WgKsTktDtePFQOlIOPIaafI_Hm-JjK3cKn7ghSvDMaDWuiIGH-O21gcUB6DHGoiE9L8-T-EFa-H4GEjcf273YSEfFDOM3eG6OK_KBDhXRqhUAbNA4wVBaOV51eiL5nC06DYtxd-O_Ew3KeeDU5DTA=w1024-h803-no?authuser=0');
} */